:root {
    --button-spacing: 0.75rem;
    --nav-margin: 1.2rem;
    --button-colour: rgb(249, 250, 251);
    --button-hover-colour: rgb(235, 235, 235);
    --button-border-radius: 0.5rem;
    --incorrect: rgb(230, 76, 76);
    --correct: rgb(81, 231, 126);
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: horizontal;
    gap: var(--button-spacing);
    margin-top: var(--nav-margin);
    margin-bottom: var(--nav-margin);
}

nav div {
    padding: var(--button-spacing);
    background-color: var(--button-colour);
    border-radius: var(--button-border-radius);
    transition: 0.3s;
}

nav div:hover {
    background-color: var(--button-hover-colour);
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: inherit;
}

#answer {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--button-colour);
    border: none;
    border-radius: var(--button-border-radius);
    margin: 0;
    box-sizing: border-box;
    margin-top: 15px;
}

.incorrect {
    outline: 5px solid var(--incorrect);
}

.correct {
    outline: 5px solid var(--correct);
}

.hidden {
    visibility: hidden;
}

.options {
    display: grid;
    gap: var(--button-spacing);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#prompt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#prompt {
    min-width: 300px;
}

progress {
    border: none;
    border-radius: var(--button-border-radius);
    height: 0.5rem;
    background-color: var(--button-colour);
}
progress {
    color: black;
}
progress::-moz-progress-bar {
    background: black;
}
progress::-webkit-progress-value {
    background: black;
}
progress::-webkit-progress-bar {
    background: black;
}